    <section id="showcase">
      <div class="showcase-content">
          <h1>Welcome to <span style="color: rgb(210, 209, 230);">Our Recipes </span></h1>
          <p>Easy and delicious homemade recipes. See great recipes for Egyptian street </p>
      </div>
    </section>
    <div class="container">
      <div class="row">
       <div class="col-md-5">
      <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
  </div>
  